html,
body,
#root,
.App {
  height: 100%;
}

.blur {
  height: 100%;
  backdrop-filter: blur(3px) sepia(20%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  padding-top: 50px;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-number {
  margin-left: 10px;
  margin-right: 40px;
  white-space: nowrap;
}

.document {
  filter: drop-shadow(0 0 2rem black);
  opacity: 0.85;
}
